# Backend
PORT=3001
MONGO_URI=mongodb://localhost:27017/claimproof

# Stellar
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
CLAIMPROOF_CONTRACT_ID=
GROTH16_VERIFIER_CONTRACT_ID=
ADMIN_SECRET_KEY=S...
USDC_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
